<!DOCTYPE html>

{{ $.Scratch.Delete "social-list" }}<!---->
{{ $social := slice "twitter" "github" "instagram" }}<!---->
{{ range $social }}<!---->
{{ if isset site.Params . }}<!---->
{{ $.Scratch.Add "social-list" (slice .) }}<!---->
{{ end }}<!---->
{{ end }}<!---->

<html lang="{{ site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body class="not-ready" data-menu="{{ isset site.Menus `main` }}">
    {{ partial "header.html" . }}

    <main class="main">{{ block "main" . }}{{ end }}</main>

    <div id="fastSearch">
      <input id="searchInput" tabindex="0">
      <ul id="searchResults">
      </ul>
    </div>
    <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
    <script src="/js/fastsearch.js"></script>

    {{ partial "footer.html" . }}
  </body>
</html>
