{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<link rel="preload" href="/fonts/rubik-v14-latin-300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-300.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="/fonts/rubik-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-regular.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="/fonts/rubik-v14-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-700.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="/fonts/rubik-v14-latin-300italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-300italic.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="/fonts/rubik-v14-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-italic.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="/fonts/rubik-v14-latin-700italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/rubik-v14-latin-700italic.woff" as="font" type="font/woff" crossorigin>