<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png|svg|woff|woff2)$">
          Header set Cache-Control "max-age=36000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=36000"
    </FilesMatch>
</IfModule>
