{{ define "main" }}

<article class="post-single">

		<header class="post-title">
				<!-- Modelo para o Vitor do Poste -->
				<!-- <h1 style="text-align:center;">404 <em>slam dunk</em></h1>

				<br/>
				<p><img src="/404.svg" alt="404" /></p>
				<br/>

				<h1 style="text-align:center; font-weight: 300; font-size: 3rem;">Infelizmente para ti, o Vítor do Poste viu o fora de jogo</h1><br>
				<h1 style="text-align:center; font-weight: 200; font-size: 2.25rem;">Volta à <a href="/">página inicial</a></h1>-->

				<!-- Modelo para o Beam me up, Scotty -->
				<h1 style="text-align:center; font-weight: 200;">Estás perdid@</h1>
				<br/><br/>
				<p><img src="/scotty.svg" alt="404" /></p>
				<br/>
				<br/>

				<h1 style="text-align:center; font-weight: 300; font-size: 3rem;">Devido a um problema de juntas na máquina de teletransporte, foste parar ao <b>Planeta 404</b></h1><br>
				<h1 style="text-align:center; font-weight: 200; font-size: 2.25rem;">Teletransporta a pessoa para a <a href="/">página inicial</a>, Scotty</h1>

				<!-- Imagens retiradas do unDraw: https://undraw.co/license -->

		</header>
</article>

{{ end }}
